<%- include("header.ejs") -%>
  <body>
    <div class="box" id="heading">

       <h1><%= kindofday %> </h1>
     </div>

    <div class="box">
   <%  newitem.forEach((item)=>{%>
  <form  action="/delete" method="post">
    <p class="item"><input name= "checkbox" value =<%= item._id%> type="checkbox" onChange = "this.form.submit()" > <%= item.name %>  </p>
  </form>

   <% })%>
    <form class="" action="/" method="post">
     <input type="text" name="new_item" placeholder="New Item" autocomplete="off">
     <button type="submit" name="list" value ="<%= kindofday %>">+</button>
    </form>
  </div>

<%- include("footer.ejs") -%>
