<%- include("header.ejs") -%>
  <body>
    <div class="box" id="heading">

       <h1><%= kindofday %> </h1>
     </div>

    <div class="box">
   <%  for (var i = 0; i < newitem.length; i++){  %>

    <p class="item"><input type="checkbox"> <%= newitem[i] %>  </p>
    <%  }  %>
    <form class="" action="/" method="post">
     <input type="text" name="new_item" placeholder="New Item" autocomplete="off">
     <button type="submit" name="list" value ="<%= kindofday %>">+</button>
    </form>
  </div>

<%- include("footer.ejs") -%>
